
  @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Satisfy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
/* Nav Bar */

 h1{
    font-family: 'Satisfy', cursive;
    font-size: 50px !important;
    font-weight:500 !important;
 }

 /* Login and signUp Page */

 h2 span{
  font-family: 'Satisfy';
  color: rgb(83, 2, 83);
  font-weight:600 !important;
 }

.box {
  border: 1px solid #d4d3d4;
  padding: 3rem;
  border-radius: 20px;
  background-color: #fff;
  width: 40%;
  text-align: center;
  box-shadow: 10px 5px 5px rgb(227, 205, 248);
 
}
.main-box{
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
  .googleBtn {
          padding-right: 3rem;
          padding-left: 3rem ;
        } 

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

.Addtransaction{
  background-image: url(./assets/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* tablet */

@media all and (max-width: 912px) {
  .box {
    width: 100%; 
  }
}
/* Mobile devices */

@media all and (max-width: 436px) {
  .box {
    width: 100%;
    padding: 1rem !important;
  }
  .box .p-5 {
        padding: 1rem !important;
        }
        .googleBtn {
          padding: 0px ;
        }

      .main-box{
        margin: 40px;

      }
}

/* Small devices */

@media all and (max-width: 284px) {
  .box { 
    padding: 0.5rem !important;
  }

 .main-box{
        margin: 22px;
      }
}